@charset "UTF-8";

.message {
  position: relative;
  bottom: 3px;
  display: inline-block;
  height: 22px;
  padding: 0 8px 0 25px;
  margin-top: 4px;
  margin-left: 4px;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 22px;
  color: lighten($messaging-text, 12);
  cursor: pointer;
  cursor: hand;
  background-color: $messaging-background;
  border-radius: 2px;
  align-self: center;
  .message-icon,
  .message-extend-icon {
    path {
      fill: currentColor;
    }
  }
  .message-icon {
    position: absolute;
    top: 6px;
    left: 8px;
  }
  .message-extend {
    position: relative;
    display: block;
    float: right;
    width: 0;
    height: 22px;
    margin: 0 -8px 0 8px;
    white-space: nowrap;
    background-color: darken($messaging-background, 5);
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0;
    @include transition(all .2s ease-in-out);
    .message-extend-icon {
      position: absolute;
      top: 4px;
      left: 5px;
    }
  }
  &:hover .message-extend {
    width: 24px;
    opacity: 1;
  }
  // message dark theme
  &.message-dark {
    position: relative;
    color: #fff;
    cursor: pointer;
    cursor: hand;
    background-color: $left-background-dark;
    .message-icon,
    .message-extend-icon {
      path {
        fill: currentColor;
      }
    }
    .message-extend {
      background-color: $heading;
    }
  }
}
